{% extends "layout.html" %}

    {% block head %}
<!--<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
<script type="text/javascript" src="/static/scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/jquery-form/form@4.2.2/dist/jquery.form.min.js"></script>
<!--
<script type="text/javascript">
    // wait for the DOM to be loaded
    $(document).ready(function () {
        // bind 'myForm' and provide a simple callback function
        //alert("Thank you for your comment!");
        $('#form1').ajaxForm(function () {
            alert("Thank you for your comment!");
        });
    });

    $(function () {
        /** 验证文件是否导入成功  */
        $("#form1").ajaxForm(function (data) {
            if (data == "1") {
                alert("提交成功！");
                $('#submitover').text("提交成功，分析完毕会自动启动下载")
            };
        });
    });

    $(document).ready(function() {
        var options = {
            target:        '#output2',   // target element(s) to be updated with server response
            beforeSubmit:  showRequest,  // pre-submit callback
            success:       showResponse  // post-submit callback

            // other available options:
            //url:       url         // override for form's 'action' attribute
            //type:      type        // 'get' or 'post', override for form's 'method' attribute
            //dataType:  null        // 'xml', 'script', or 'json' (expected server response type)
            //clearForm: true        // clear all form fields after successful submit
            //resetForm: true        // reset the form after successful submit

            // $.ajax options can be used here too, for example:
            //timeout:   3000
        };

        // bind to the form's submit event
        $('#myForm2').submit(function() {
            // inside event callbacks 'this' is the DOM element so we first
            // wrap it in a jQuery object and then invoke ajaxSubmit
            $(this).ajaxSubmit(options);

            // !!! Important !!!
            // always return false to prevent standard browser submit and page navigation
            return false;
        });
    });

    // pre-submit callback
    function showRequest(formData, jqForm, options) {
        // formData is an array; here we use $.param to convert it to a string to display it
        // but the form plugin does this for you automatically when it submits the data
        var queryString = $.param(formData);

        // jqForm is a jQuery object encapsulating the form element.  To access the
        // DOM element for the form do this:
        // var formElement = jqForm[0];

        alert('About to submit: \n\n' + queryString);

        // here we could return false to prevent the form from being submitted;
        // returning anything other than false will allow the form submit to continue
        return true;
    }

    // post-submit callback
    function showResponse(responseText, statusText)  {
        // for normal html responses, the first argument to the success callback
        // is the XMLHttpRequest object's responseText property

        // if the ajaxSubmit method was passed an Options Object with the dataType
        // property set to 'xml' then the first argument to the success callback
        // is the XMLHttpRequest object's responseXML property

        // if the ajaxSubmit method was passed an Options Object with the dataType
        // property set to 'json' then the first argument to the success callback
        // is the json data object returned by the server

        alert('status: ' + statusText + '\n\nresponseText: \n' + responseText +
            '\n\nThe output div should have already been updated with the responseText.');
    }
</script>
        -->
<script type="text/javascript" src="/static/js/process_submitform.js"></script>
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico" />
<!--===============================================================================================-->
<!--link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/css/util.css">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->
{%endblock%}

{% block content %}

<div class="jumbotron">
    <h1>TBFlow</h1>
    <p class="lead">TBFlow 是一个静态测试工具自动化结果生成工具，主要目的是通过提供自动化的工具分析、报告生成功能，保证测试人员能够有更多时间用于测试工作</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Source code mode</h2>
        <p>
            通过上传一个被测软件压缩包，就能够获得testbed的原始分析结果及对应的metrics结果文档、
            GJB8114违背情况确认单.
        </p>


        <form id="form1" method="POST" enctype="multipart/form-data" action="{{ url_for('home') }}">
            {{ form_source.hidden_tag() }}
            {{ form_source.project_name}}
            {{ form_source.file }}
            {% for error in form_source.file.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            {{ form_source.submit(class_="btn btn-default") }}
        </form>
        <div>
            <p id="submitover"></p>
        </div>
        <!-- <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">开始使用&raquo;</a></p> -->
    </div>
    <div class="col-md-4">
        <h2>Document process mode</h2>
        <p>
            如果你已经通过其他方式完成了软件的Testbed结果分析，可以通过上传Testbed的System分析
            结果，从而获得能够用于报告编写的Metrics报告和规则违背情况报告.
        </p>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_tb_system') }}">
            {{ form_tb_system.hidden_tag() }}
            {{ form_tb_system.project_name.label }} {{ form_tb_system.project_name}}
            {{ form_tb_system.file }}
            {% for error in form_tb_system.file.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            {{ form_tb_system.submit(class_="btn btn-default") }}
        </form>
        <!--<p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>User Guid</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
