{% extends "layout.html" %}

    {% block head %}
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico" />
<!--===============================================================================================-->
<!--link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/css/util.css">
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->
{%endblock%}

{% block content %}

<div class="jumbotron">
    <h1>TBFlow</h1>
    <p class="lead">TBFlow 是一个静态测试工具自动化结果生成工具，主要目的是通过提供自动化的工具分析、报告生成功能，保证测试人员能够有更多时间用于测试工作</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            通过上传一个压缩包，就能够获得testbed的原始分析结果及对应的metrics结果文档、
            GJB8114违背情况确认单.
        </p>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
            {{ form.hidden_tag() }}
            {{ form.file }}
            {% for error in form.file.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            {{ form.submit(class_="btn btn-default") }}
        </form>
        <!-- <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">开始使用&raquo;</a></p> -->
    </div>
    <div class="col-md-4">
        <h2>Learn how to use</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
